<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.judgecompanion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.judgecompanion.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.judgecompanion.server.ServerSetupActivity"
            android:label="@string/title_activity_server" >
        </activity>
        <activity
            android:name="com.example.judgecompanion.server.fragments.ServerSetupPageFragment"
            android:label="@string/title_activity_server_page_fragment" >
        </activity>
        <activity
            android:name="com.example.judgecompanion.client.ClientActivity"
            android:label="@string/title_activity_client" >
        </activity>
        <activity
            android:name="com.example.judgecompanion.server.fragments.ClientCompetitionPageFragment"
            android:label="@string/title_activity_client_page_fragment" >
        </activity>
        <activity
            android:name="com.example.judgecompanion.dialogs.abstracts.DialogTemplateFragment"
            android:label="@string/title_activity_team_detail" >
        </activity>
        <activity
            android:name="com.example.judgecompanion.dialogs.TeamDetailDialogFragment"
            android:label="@string/title_activity_team_detail_dialog_fragment" >
        </activity>
        <activity
            android:name="com.example.judgecompanion.dialogs.AddJudgeDialogFragment"
            android:label="@string/title_activity_add_judge_dialog_fragment" >
        </activity>
    </application>

</manifest>